body {
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

div, form, p, h1, h2, h3, ul, body {
	margin: 0;
	padding: 0;
}

#container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#beta {
	overflow: auto;
}

#top_beta {
	overflow: auto;
	margin: 25px 0 5px;
}

#top_beta img {
	height: 190px;
	float: left;
	border: 5px solid #ccc;
}

#mid_beta {
	overflow: auto;
}

#mid_beta p {
	font-size: 11pt;
	color: #666;
}

#bad_search {
	float: left;
	overflow: auto;
	margin: 0 0 0 10px;
}

#good_search {
	float: left;
	overflow: auto;
	margin: 0 0 0 250px;
}

#mid_beta .bold {
	font-weight: bold;
}

#bottom_beta {
	background: #fff;
	overflow: auto;
	color: #888;
	margin: 25px 0 0 0;
}

#bottom_beta p {
	font-size: 11pt;
}

#bottom_beta p.bold {
	font-weight: bold;
}

#bottom_beta p.smaller {
	margin: 10px 0 0 0;
	font-size: 9pt;
}

#bottom_beta #left_bottom {
	float: left;
}

#bottom_beta #left_bottom img {
	width: 250px;
}

#bottom_beta #right_bottom {
	overflow: auto;
	border-top: 2px solid #ccc;
	margin: 0 0 0 30px;
}

#bottom_beta #left_beta {
	float: left;
	margin: 5px 0 0 30px;
	padding: 10px 0 0 0;
}

#bottom_beta #left_beta .failure {
	display: none;
	margin: 5px 0;
	font-size: 9pt;
	color: #f00;
	font-weight: bold;
}

#beta_login {
	margin: 15px 0 0 0;
}

#beta_login input[type="text"], #beta_login input[type="password"] {
	border-radius: 4px;
	padding: 5px;
	margin: 0 0 5px 0;
	border: 1px solid #aaa;
	width: 180px;
	font-weight: bold;
}

#beta_login input[type="submit"] {
	font-weight: bold;
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 3px 7px;
	margin: 5px 35px 0 0;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
}

#beta_login input[type="submit"] {
	cursor: pointer;
}

#beta_login #beta_forgot {
	color: #000;
	font-size: 8pt;
	text-decoration: none;
}

#bottom_beta #right_beta {
	float: left;
	border-left: 2px solid #ccc;
	padding: 10px 0 45px 30px;
	margin: 5px 0 0 25px;
}

#bottom_beta #right_beta #right_info {
	width: 380px;
}

#bottom_beta #right_beta div.number {
	width: 30px;
	height: 30px;
	border-radius: 20px;
	background: #999;
	padding: 0;
	float: left;
}

#bottom_beta #right_beta div.number p {
	margin: 0 0 0 9px;
	padding: 0;
	font-size: 18pt;
	color: #fff;
}

#bottom_beta #right_beta #sign_up_1 {
	margin: 30px 0 0 5px;
	overflow: auto;
}

#email_address {
	overflow: auto;
	
}

#email_address #enter_email {
	float: left;
	margin: 5px 0 0 15px;
}

#email {
	margin: 0 0 0 45px;
}

#email input[type="text"] {
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #aaa;
	width: 180px;
	font-weight: bold;
}

#school_info {
	overflow: auto;
	margin: 15px 0 0 0;
}

#school_info #enter_school {
	float: left;
	margin: 5px 0 0 15px;
}

#school {
	margin: 0 0 0 45px;
}

#school input[type="text"] {
	border-radius: 4px;
	padding: 5px;
	border: 1px solid #aaa;
	width: 180px;
	font-weight: bold;
}

#school input[type="submit"] {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	padding:3px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

#school input[type="submit"]:hover {
	cursor: pointer;
}

#success, #duplicate, #failure {
	margin: 0 0 0 15px;
	display: none;
}

#success p, #duplicate p {
	color: #246E12;
}

#failure p {
	color: #A31C23;
}

#sign_up_2 {
	overflow: auto;
	margin: 30px 0 0 5px;
}

#sign_up_2 p {
	float: left;
	margin: 12px 0 0 15px;
}






